[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
black = "*"
isort = {extras = ["pipfile"],version = "*"}

[packages]
fastapi = "*"
uvicorn = "*"
databases = {extras = ["sqlite"],version = "*"}
orjson = "*"
httpx = "*"
black = "*"

[requires]
python_version = "3.8"

[scripts]
server = "uvicorn --port 8001 --reload main:app"
fmt = "black -t py38  ."
fmt_imports = "isort --multi-line=3 --trailing-comma --force-grid-wrap=0 --use-parentheses --line-width=88"
check = "mypy ."
test = "python -m pytest"

[pipenv]
allow_prereleases = true
